<div ng-controller="homeCtrl">

	<!-- banner start -->
    <div class="row main-bg z-depth-1">
        <div class="col s12">
            <div class="row">
                <div class="col s12 center">
                    <img src="/public/images/me1.jpg" class="profile-img"/>
                    <h5 class="profile-name">Isaac Grey</h5>
                    <span class="profile-title"><em>fullstack web developer</em></span>
                </div>
            </div>
            <div class="row center">
                <div class="col s2 indigo-blend">.</div>
                <div class="col s2">
                    <p class="nav-option" ui-sref="home">about me</p>
                </div>
                <div class="col s2">
                    <p class="nav-option" ui-sref="resume">resume</p>
                </div>
                <div class="col s2">
                    <p class="nav-option">contact</p>
                </div>
                <div class="col s2">
                    <p class="nav-option" ui-sref="archives">archives</p>
                </div>
                <div class="col s2 indigo-blend">.</div>
            </div>
        </div>
    </div>
    <!-- banner end -->

    <!-- get in touch start -->
    <div class="section fade-in" id="index-banner" style="display: block; opacity: 1;">
        <div class="container">
            <div class="row center">
                <div class="col s12 m12">
                    <h2 class="header indigo-text lighten-1 section-title">
                        <span><i class="fa fa-envelope envelope-2"></i>Let's Get In Touch</span>
                    </h2>

                    <p class="flow-text">
                        Use the <strong>contact form</strong> below to get in touch, just let me know what I can do for you and I will reply as soon as possible. I look forward to <strong>hearing</strong> from you!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- get in touch end -->

    <!-- contact form start -->
    <div class="section fade-in" id="index-banner" style="display: block; opacity: 1;">
        <div class="container">
            <div class="row center">
                <div class="col s12 m12">
                    <div id="wufoo-p197o6411ij5jks">
						Fill out my <a href="https://isaacgrey.wufoo.com/forms/p197o6411ij5jks">online form</a>.
					</div>
					<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">There are tons of <a href="http://www.wufoo.com/features/">Wufoo features</a> to help make your forms awesome.</div>
					<script type="text/javascript">var p197o6411ij5jks;(function(d, t) {
						var s = d.createElement(t), options = {
							'userName':'isaacgrey',
							'formHash':'p197o6411ij5jks',
							'autoResize':true,
							'height':'200',
							'async':true,
							'host':'wufoo.com',
							'header':'show',
							'ssl':true
						};
						s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
						s.onload = s.onreadystatechange = function() {
						var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
						try { p197o6411ij5jks = new WufooForm();p197o6411ij5jks.initialize(options);p197o6411ij5jks.display(); } catch (e) {}};
						var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
						})(document, 'script');</script>
                </div>
            </div>
        </div>
    </div>
    <!-- contact form end -->

    <!-- footer start -->
    <footer class="indigo z-depth-1 center">
        <div class="container">
            <div class="row get-in-touch">
                <div class="col l12 s12">
                    <h5 class="white-text">LET'S SOCIALIZE</h5>
                    <p class="grey-text text-lighten-4">
                        I'm very social and I'd love to hear from you! Feel free to send me an email, find me on LinkedIn, follow me on Twitter and join me on Facebook.
                    </p>
                    <div class="follow_us">
                        <a 
                            href="https://twitter.com/Isaacgreywebdev" 
                            target="_blank">
                                <i class="fa fa-twitter"></i>
                        </a>
                        <a 
                            href="https://www.facebook.com/isaac.grey.3" 
                            target="_blank">
                                <i class="fa fa-facebook"></i>
                        </a>
                        <a 
                            href="https://www.linkedin.com/in/isaac-grey-bab63a102" 
                            target="_blank">
                                <i class="fa fa-linkedin"></i>
                        </a>
                        <a 
                            href="https://plus.google.com/u/2/108912510089462997539" 
                            target="_blank">
                                <i class="fa fa-google-plus"></i>
                        </a>
                        <a 
                            href="https://github.com/isaacg11" 
                            target="_blank">
                                <i class="fa fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright indigo darken-2">
            <div class="container">
                isaacgrey.me © 2016 - All Rights Reserved
            </div>
        </div>
    </footer>
    <!-- footer end -->

</div>