<div ng-controller="homeCtrl">
	<div class="row main-bg">
		<div class="col s12">
			<!--profile pic/name/title-->
			<div class="row">
				<div class="col s12 center">
					<img src="/public/images/me1.jpg" class="profile-img"/>
					<h5 class="profile-name">Isaac Grey</h5>
					<span class="profile-title z-depth-1"><em>fullstack web developer</em></span>
				</div>
			</div>
			<!--navigation-->
			<div class="row center">
				<div class="col s2">.</div>
				<div class="col s2">
					<p class="nav-option">about me</p>
				</div>
				<div class="col s2">
					<p class="nav-option">resume</p>
				</div>
				<div class="col s2">
					<p class="nav-option">contact</p>
				</div>
				<div class="col s2">
					<p class="nav-option">resources</p>
				</div>
				<div class="col s2">.</div>
			</div>
		</div>
	</div>
</div>