<!-- page start -->
<div ng-controller="homeCtrl">

    <!-- banner start -->
    <div class="row main-bg z-depth-1">
        <div class="col s12">
            <div class="row">
                <div class="col s12 center">
                    <img src="/public/images/me1.jpg" class="profile-img"/>
                    <h5 class="profile-name">Isaac Grey</h5>
                    <span class="profile-title"><em>fullstack web developer</em></span>
                </div>
            </div>
            <div class="row center">
                <div class="col s2 indigo">.</div>
                <div class="col s2">
                    <p class="nav-option">about me</p>
                </div>
                <div class="col s2">
                    <p class="nav-option" ui-sref="resume">resume</p>
                </div>
                <div class="col s2">
                    <p class="nav-option">contact</p>
                </div>
                <div class="col s2">
                    <p class="nav-option">resources</p>
                </div>
                <div class="col s2 indigo">.</div>
            </div>
        </div>
    </div>
    <!-- banner end -->

    <!-- aboutme/tweet start -->
    <div class="section fade-in" id="index-banner" style="display: block; opacity: 1;">
        <div class="container">
            <div class="row center">
                <div class="col s12 m8">
                    <h2 class="header indigo-text lighten-1 section-title">
                        <span><i class="fa fa-smile-o small"></i>About Me</span>
                    </h2>

                    <p class="flow-text">
                        Hello! I'm <strong class="indigo-text  darken-4">Isaac Grey</strong> and I am a <strong>Website
                        and Application Developer</strong> based in
                        Los Angeles, CA. I enjoy building <strong class="indigo-text lighten-1">clean, usable </strong> software.
                    </p>
                </div>
                <div class="col s12 m4">
                    <h2 class="header indigo-text lighten-1 section-title">
                        <span>
                            <a href="/tweets">
                                <i class="fa fa-twitter small"></i>Latest Tweets
                            </a>
                        </span>
                    </h2>
                    <div class="tweet-card card-panel indigo lighten-4">
                        <span class="text-grey darken-4">
                            RT @Akon: Can you imagine what the world would be like if these people gave up. Never quit! https://t.co/BUfJlGWecw
                        </span>
                        <span class="ago">
                            5 days ago
                        </span>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <!-- aboutme/tweet end -->

    <!-- github repos start -->
    <div class="container fade-in" style="display: block; opacity: 1;">
        <div class="section featured-media">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card indigo">
                        <div class="card-content white-text">
                            <span class="card-title">
                                <a
                                    class="white-text" 
                                    href="https://github.com/perminder-klair/Meteor-Boilerplate" target="_blank"> Food Findr
                                </a>
                            </span>
                            <div class="repo-icons">
                                <a
                                    class="white-text" 
                                    href="https://github.com/perminder-klair/Meteor-Boilerplate/fork" 
                                    target="_blank">
                                        <i class="fa fa-random"></i> 0
                                </a>
                                <a
                                    class="white-text" 
                                    href="https://github.com/perminder-klair/Meteor-Boilerplate/stargazers" 
                                    target="_blank">
                                        <i class="fa fa-star"></i> 3
                                </a>
                                <a
                                    class="white-text" 
                                    href="https://github.com/perminder-klair/Meteor-Boilerplate/watchers" 
                                    target="_blank">
                                        <i class="fa fa-eye"></i> 3
                                </a>
                            </div>
                            <p>Food locator website</p>
                        </div>
                        <div class="card-action">
                            <span class="updated-on">Updated on July 6, 2016</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card indigo">
                        <div class="card-content white-text">
                            <span class="card-title">
                                <a
                                    class="white-text" 
                                    href="https://github.com/perminder-klair/angular-soundmanager2" 
                                    target="_blank">Where@bout
                                </a>
                            </span>
                            <div class="repo-icons">
                                <a
                                    class="white-text" 
                                    href="https://github.com/perminder-klair/angular-soundmanager2/fork" 
                                    target="_blank">
                                        <i class="fa fa-random"></i> 67
                                </a>
                                <a
                                    class="white-text" 
                                    href="https://github.com/perminder-klair/angular-soundmanager2/stargazers" 
                                    target="_blank">
                                        <i class="fa fa-star"></i> 126
                                </a>
                                <a
                                    class="white-text" 
                                    href="https://github.com/perminder-klair/angular-soundmanager2/watchers" 
                                    target="_blank">
                                        <i class="fa fa-eye"></i> 126
                                </a>
                            </div>
                            <p>Photo album app</p>
                        </div>
                        <div class="card-action">
                            <span class="updated-on">Updated on July 2, 2016</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card indigo">
                        <div class="card-content white-text">
                            <span class="card-title">
                                <a
                                    class="white-text" 
                                    href="https://github.com/perminder-klair/kato-core" 
                                    target="_blank">rapid-recipe
                                </a>
                            </span>
                            <div class="repo-icons">
                            <a
                                class="white-text" 
                                href="https://github.com/perminder-klair/kato-core/fork" 
                                target="_blank">
                                    <i class="fa fa-random"></i> 2
                            </a>
                            <a
                                class="white-text" 
                                href="https://github.com/perminder-klair/kato-core/stargazers" target="_blank">
                                    <i class="fa fa-star"></i> 0
                            </a>
                            <a
                                class="white-text" 
                                href="https://github.com/perminder-klair/kato-core/watchers" 
                                target="_blank">
                                <i class="fa fa-eye"></i> 0
                            </a>
                        </div>
                        <p>Recipe lookup website</p>
                        </div>
                        <div class="card-action">
                            <span class="updated-on">Updated on May 16, 2016</span>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="row center">
                <a href="/git" id="download-button" class="btn-large waves-effect waves-light pink accent-2">
                    <i class="fa fa-github"></i> <span>All Repositories</span>
                </a>
            </div>
        </div>
    </div>
    <!-- github repos end -->

    <!-- my skills start -->
    <div class="container fade-in" style="display: block; opacity: 1;">
        <div class="section processes-container">
            <h2 class="header indigo-text lighten-1 section-title">
                <span><i class="fa fa-bolt small"></i>My Skills</span>
            </h2>
            <div class="row">
                <div class="col s12 m4">
                    <div class="card small">
                        <div class="card-image">
                            <img src="public/images/design.png">
                            <span class="card-title"><b>Web Design</b></span>
                        </div>
                        <div class="card-content">
                            <p>
                            Information architecture, user interface (UI), navigation, responsive layout, colors, fonts, and imagery.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card small">
                        <div class="card-image">
                            <img src="public/images/dev.png">
                            <span class="card-title"><b>Engineering</b></span>
                        </div>
                        <div class="card-content">
                            <p>
                            Programming of browser functionality (front-end) and server-side operations (back-end). Includes websites and mobile apps.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card small">
                        <div class="card-image">
                            <img src="public/images/ux.png">
                            <span class="card-title"><b>UX</b></span>
                        </div>
                        <div class="card-content">
                            <p>
                            Overall useability, accessability, simplicity, balance, contrast, emphasis, rhythm, and unity.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- my skills end -->

</div>
<!-- page end -->