<div ng-controller="homeCtrl">
	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    	<a class="btn-floating btn-large red" ng-click="test()">
      		<i class="fa fa-envelope" aria-hidden="true"></i>
    	</a>
  	</div>
	<!-- top section -->
	<div class="row main-bg z-depth-1">
		<div class="col s12">
			<!-- profile pic/name/title -->
			<div class="row">
				<div class="col s12 center">
					<img src="/public/images/me1.jpg" class="profile-img"/>
					<h5 class="profile-name">Isaac Grey</h5>
					<span class="profile-title"><em>fullstack web developer</em></span>
				</div>
			</div>
			<!-- navigation -->
			<div class="row center">
				<div class="col s2 indigo">.</div>
				<div class="col s2">
					<p class="nav-option">about me</p>
				</div>
				<div class="col s2">
					<p class="nav-option">resume</p>
				</div>
				<div class="col s2">
					<p class="nav-option">contact</p>
				</div>
				<div class="col s2">
					<p class="nav-option">resources</p>
				</div>
				<div class="col s2 indigo">.</div>
			</div>
		</div>
	</div>

	<!-- middle section -->

	<!-- headers -->
	<div class="row">
		<div class="col s2 white">.</div>
		<div class="col s2">
			<i class="fa fa-smile-o small" aria-hidden="true"></i><span class="header-aboutme">About Me</span>
		</div>
		<div class="col s3 no-padding-sides">
			<div class="header-line"></div>
		</div>
		<div class="col s2 center">
			<i class="fa fa-twitter small" aria-hidden="true"></i><span class="header-tweets">Tweets</span>
		</div>
		<div class="col s1 no-padding-sides">
			<div class="header-line"></div>
		</div>
		<div class="col s2 white">.</div>
	</div>

	<div class="row">
		<!-- aboutme desription -->
		<div class="col s2 white">.</div>
		<div class="col s5">
			<p class="aboutme-description">Hello! I'm <b>Isaac Grey</b> and I am a <b>Website and Application Developer</b> based in Los Angeles, CA. I enjoy building clean, useable software. Shoot me an email if you want to talk over coffee or Skype.</p>
		</div>
		<div class="col s3">
			<div class="z-depth-1">
				<a 
					class="twitter-timeline" 
					href="https://twitter.com/Isaacgreywebdev" 
					data-tweet-limit="1">Tweets by Isaacgreywebdev
				</a> 
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="col s2 white">.</div>
	</div>
</div>