<!-- page start -->
<div ng-controller="homeCtrl">

    <!-- banner start -->
    <div class="row main-bg z-depth-1">
        <div class="col s12">
            <div class="row">
                <div class="col s12 center">
                    <img src="/public/images/me1.jpg" class="profile-img"/>
                    <h5 class="profile-name">Isaac Grey</h5>
                    <span class="profile-title"><em>fullstack web developer</em></span>
                </div>
            </div>
            <div class="row center">
                <div class="col s2 indigo-blend">.</div>
                <div class="col s2">
                    <p class="nav-option" ui-sref="home">about me</p>
                </div>
                <div class="col s2">
                    <p class="nav-option">resume</p>
                </div>
                <div class="col s2">
                    <p class="nav-option" ui-sref="contact">contact</p>
                </div>
                <div class="col s2">
                    <p class="nav-option" ui-sref="archives">archives</p>
                </div>
                <div class="col s2 indigo-blend">.</div>
            </div>
        </div>
    </div>
    <!-- banner end -->

    <!-- my experience start -->
    <div class="section fade-in" id="index-banner" style="display: block; opacity: 1;">
        <div class="container">
            <div class="row center">
                <div class="col s12 m12">
                    <h2 class="header indigo-text lighten-1 section-title">
                    <span>
                        <i class="fa fa-user"></i> My Experience
                    </span>
                    </h2>

                    <p class="flow-text">
                        Welcome to my timeline. My <strong class="indigo-text lighten-1">work experience</strong> and <strong class="indigo-text lighten-1">education</strong> details are available here. Take a moment to <strong>check it all out</strong>!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- my experience end -->

    <!-- my history start -->
    <div class="container">
        <div class="section resources">
            <div class="row">
                <div class="col s12 m4">
                    <h2 class="header indigo-text lighten-1 section-title">
                        <span><i class="fa fa-file"></i>Download My CV</span>
                    </h2>
                    <p>
                        You can download my CV in pdf format if you would like. Just let me know if you have any questions, i'm happy to help!
                    </p>
                    <a 
                        class="waves-effect waves-light indigo btn-large" 
                        href="https://docs.google.com/document/d/1td2yjcyqesnNoLLn2pn-yZ6qlYRdgE2__FRfG8Cn71U/edit?usp=sharing"
                        target="_blank">Download CV
                    </a>
                    <h2 class="header indigo-text lighten-1 section-title">
                        <span><i class="fa fa-linkedin v2"></i>LinkedIn Profile</span>
                    </h2>
                    <p>You can view my connections, work, skills, interests, and more.</p>
                    <a 
                        class="waves-effect waves-light btn-large" 
                        href="https://www.linkedin.com/in/isaac-grey-bab63a102"
                        target="_blank">My LinkedIn Profile
                    </a>
                    <h2 class="header indigo-text lighten-1 section-title">
                        <span><i class="fa fa-code"></i>Programming</span>
                    </h2>
                    <p>
                        I specialize in fullstack JavaScript programming, here's a list of what I can do.
                    </p>
                    <div class="skills">
                        <a class="waves-effect waves-light btn indigo">HTML</a>
                        <a class="waves-effect waves-light btn indigo">CSS</a>
                        <a class="waves-effect waves-light btn indigo">JavaScript</a>
                        <a class="waves-effect waves-light btn indigo">jQuery</a>
                        <a class="waves-effect waves-light btn indigo">AngularJS</a>
                        <a class="waves-effect waves-light btn indigo">ReactJS</a>
                        <a class="waves-effect waves-light btn indigo">NodeJS</a>
                        <a class="waves-effect waves-light btn indigo">MongoDB</a>
                        <a class="waves-effect waves-light btn indigo">Ionic Framework</a>
                    </div>
                </div>
                <div class="col s12 m8">
                    <h2 class="header indigo-text lighten-1 section-title">
                        <span><i class="fa fa-graduation-cap"></i>History</span>
                    </h2>
                    <ul class="cbp_tmtimeline">
                        <li>
                            <time class="cbp_tmtime">
                                <span>September 2015</span>
                                <span></span>
                            </time>
                            <div class="cbp_tmicon fa fa-globe"></div>
                            <div class="cbp_tmlabel z-depth-2">
                                <h2>Stamplay Ltd.</h2>
                                <p class="light-text">Developer Support Engineer at (www.stamplay.com)</p>
                                <p class="light-text">Train software developers to use Stamplays developer platform by creating tutorials, writing blogs, building content apps, webcasts, giving presentations, and providing live chat support. As well, I run outreach campaigns to developers, digital agencies, API providers, and social groups to grow the community around Stamplay.</p>
                            </div>
                        </li>     
                        <li>
                            <time class="cbp_tmtime">
                                <span>July 2015</span>
                                <span></span>
                            </time>
                            <div class="cbp_tmicon fa fa-globe"></div>
                            <div class="cbp_tmlabel z-depth-2">
                                <h2>Coder Camps Programming Academy</h2>
                                <p class="light-text">San Fransisco, CA (www.codercamps.com)</p>
                                <p class="light-text">While at Coder Camps I was educated in full stack Javascript fundamentals, including CRUD operations, error handling, debugging, SEO, cross-browser compatibility, unit testing, HTTP, AJAX, APIs, database administration, and system security.</p>
                            </div>
                        </li>
                        <li>
                            <time class="cbp_tmtime">
                                <span>March 2015</span>
                                <span></span>
                            </time>
                            <div class="cbp_tmicon fa fa-globe"></div>
                            <div class="cbp_tmlabel z-depth-2">
                                <h2>Software By Isaac, LLC</h2>
                                <p class="light-text">Los Angeles, CA (www.softwarebyisaac.com)</p>
                                <p class="light-text">Freelance web development of custom websites and mobile applications.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- my history end -->

    <!-- sticky email btn start -->
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red" ui-sref="contact">
            <i class="fa fa-envelope"></i>
        </a>
        <ul>
            <li>
                <a class="btn-floating red">
                    <i class="material-icons">insert_chart</i>
                </a>
            </li>
            <li>
                <a class="btn-floating yellow darken-1">
                    <i class="material-icons">format_quote</i>
                </a>
            </li>
            <li>
                <a class="btn-floating green">
                    <i class="material-icons">publish</i>
                </a>
            </li>
            <li>
                <a class="btn-floating blue">
                    <i class="material-icons">attach_file</i>
                </a>
            </li>
        </ul>
    </div>
    <!-- sticky email btn end -->

    <!-- footer start -->
    <footer class="indigo z-depth-1 center">
        <div class="container">
            <div class="row get-in-touch">
                <div class="col l12 s12">
                    <h5 class="white-text">LET'S SOCIALIZE</h5>
                    <p class="grey-text text-lighten-4">
                        I'm very social and I'd love to hear from you! Feel free to send me an email, find me on LinkedIn, follow me on Twitter and join me on Facebook.
                    </p>
                    <div class="follow_us">
                        <a 
                            href="https://twitter.com/Isaacgreywebdev" 
                            target="_blank">
                                <i class="fa fa-twitter"></i>
                        </a>
                        <a 
                            href="https://www.facebook.com/isaac.grey.3" 
                            target="_blank">
                                <i class="fa fa-facebook"></i>
                        </a>
                        <a 
                            href="https://www.linkedin.com/in/isaac-grey-bab63a102" 
                            target="_blank">
                                <i class="fa fa-linkedin"></i>
                        </a>
                        <a 
                            href="https://plus.google.com/u/2/108912510089462997539" 
                            target="_blank">
                                <i class="fa fa-google-plus"></i>
                        </a>
                        <a 
                            href="https://github.com/isaacg11" 
                            target="_blank">
                                <i class="fa fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright indigo darken-2">
            <div class="container">
                isaacgrey.me © 2016 - All Rights Reserved
            </div>
        </div>
    </footer>
    <!-- footer end -->

</div>
<!-- page end -->