<!-- page start -->
<div ng-controller="homeCtrl">

	<!-- fixed email button start -->
	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    	<a class="btn-floating btn-large red" ng-click="test()">
      		<i class="fa fa-envelope" aria-hidden="true"></i>
    	</a>
  	</div>
  	<!-- end fixed email button -->

	<!-- banner start -->
	<div class="row main-bg z-depth-1">
		<div class="col s12">
			<div class="row">
				<div class="col s12 center">
					<img src="/public/images/me1.jpg" class="profile-img"/>
					<h5 class="profile-name">Isaac Grey</h5>
					<span class="profile-title"><em>fullstack web developer</em></span>
				</div>
			</div>
			<nav>
				<div class="nav-wrapper">
					<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
					<ul class="hide-on-med-and-down">
        				<li><a href="sass.html">about me</a></li>
        				<li><a href="badges.html">resume</a></li>
        				<li><a href="collapsible.html">contact</a></li>
        				<li><a href="mobile.html">resources</a></li>
      				</ul>
				</div>
			</nav>
			<!-- <div class="row center">
				<div class="col s2 indigo">.</div>
				<div class="col s2">
					<p class="nav-option" ui-sref="home">about me</p>
				</div>
				<div class="col s2">
					<p class="nav-option">resume</p>
				</div>
				<div class="col s2">
					<p class="nav-option">contact</p>
				</div>
				<div class="col s2">
					<p class="nav-option">resources</p>
				</div>
				<div class="col s2 indigo">.</div>
			</div> -->
		</div>
	</div>
	<!-- banner end -->

	<!-- my history start -->
	<div class="row">
		<div class="col s2 white">.</div>
		<div class="col s2">
			<i class="fa fa-user small" aria-hidden="true"></i><span class="header-aboutme">My History</span>
		</div>
		<div class="col s6 no-padding-sides">
			<div class="header-line"></div>
		</div>
		<div class="col s2 white">.</div>
	</div>
	<div class="row">
		<div class="col s2 white">.</div>
		<div class="col s8">
			<p class="description-myhistory center">Welcome to my timeline. My <b>work experience</b> and <b>education</b> details are quickly explained here. Take a moment to check out!</p>
		</div>
		<div class="col s2 white">.</div>
	</div>
	<!-- my history end -->



	<!-- footer start -->
	<!-- <footer class="page-footer ftr">
        <div class="row">
            <div class="col s3 indigo">.</div>
            <div class="col s6 center">
            	<div class="container">
              	<p class="footer-header">LET'S CONNECT</p>
              	<p class="footer-description">I'm very social and I'd love to hear from you! Feel free to send me an email, find me on LinkedIn, follow me on Twitter and join me on Facebook.</p>
              	<span><i class="fa fa-twitter-square medium footer-icon" aria-hidden="true" ng-click="goToSocialMedia('https://twitter.com/Isaacgreywebdev')" title="Twitter"></i><span><i class="fa fa-facebook medium footer-icon" aria-hidden="true" ng-click="goToSocialMedia('https://www.facebook.com/isaac.grey.3')" title="Facebook"></i><span><i class="fa fa-linkedin medium footer-icon" aria-hidden="true" ng-click="goToSocialMedia('https://www.linkedin.com/in/isaac-grey-bab63a102')" title="LinkedIn"></i><span><i class="fa fa-google-plus medium footer-icon" aria-hidden="true" ng-click="goToSocialMedia('https://plus.google.com/u/2/108912510089462997539')" title="GooglePlus"></i><span><i class="fa fa-github medium footer-icon" aria-hidden="true" ng-click="goToSocialMedia('https://github.com/isaacg11')" title="Github"></i></span></span></span></span></span>
              	</div>
            </div>
            <div class="col s3 indigo">.</div>
        </div>

        <div class="footer-copyright">
            <div class="container center copyright">
            www.isaacgrey.me © 2016 - All Rights Reserved
            </div>
        </div>
    </footer> -->
    <!-- footer end -->
</div>
<!-- page end -->