/* helpers */
.indigo{
	color: #3f51b5;
}
.white{
	color: #fff;
}

/* home */
.profile-img{
	margin-top: 30px;
	height: 160px;
	width: 160px;
	border-radius: 50%;
}

.profile-name{
	margin-top: 25px;
	color: #fff;
	font-weight: 300;
}
.profile-title{
	background-color: #fff176;
	padding: 5px 10px 5px 10px;
	border-radius: 4px;
}
.main-bg{
	background-color: #3f51b5;
}

.nav-option{
	font-size: 40px;
	font-weight: 300;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}
.fa-smile-o{
	border: 4px solid #dddddd;
	border-radius: 50%;
	padding: 5px 8px 5px 8px;
	color: #dddddd;
}
.header-line{
	margin-top: 25px;
	width: 100%;
	height: 5px;
	background-color: #dddddd;
}
.header-aboutme{
	font-size: 20px;
	font-weight: 400;
	color: #3f51b5;
	margin-left: 20px;
}
.wrapper {
    white-space: nowrap;
    overflow-x: auto;
}

.side-by-side {
    display: inline-block;
    vertical-align: top;
}
.fa-twitter{
	border: 4px solid #dddddd;
	border-radius: 50%;
	padding: 5px 8px 5px 8px;
	color: #dddddd;
}
.header-tweets{
	font-size: 20px;
	font-weight: 400;
	color: #ff3385;
	margin-left: 20px;
}